// import scss files
@import "variables";
// components
@import "components/button";
// pages
@import "pages/homePage";

.selection-div {
  position: absolute;
  background: rgba(0, 0, 255, 0.24);
  top: 0rem;
}
.selection-div:hover {
  background: rgba(0, 0, 255, 0.79);
}
